body {
  background: #efefef;
}
body div.container {
    margin-bottom: 25px;
}

.jqDropZone {
    background: lightgrey;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.wall div.panel-body {
    min-height: 125px;
}
.wall .dropdown {
    margin-left: 20px;
}
.wall.wall-student div.panel-heading {
    background-color: #FFE376;
}
.wall.wall-student div.panel-heading button {
    background-color: cornsilk;
    vertical-align: center;
}
.wall.wall-student div.panel-body {
    background-color: cornsilk; /* #FFF8DC */
}
.wall.wall-student .column.empty {
    background-color: #FFE376;
    border-style: solid;
    border-width: 3%;
    border-color: cornsilk; /* #FFF8DC */
}
.wall.wall-group div.panel-heading {
    background-color: #76FFE3;
}
.wall.wall-group div.panel-body {
    background-color: #DCFFF8;
}
.wall.wall-group .column.empty {
    background-color: #76FFE3;
    border-style: solid;
    border-width: 3%;
    border-color: #DCFFF8;
}
.wall.wall-section div.panel-heading {
    background-color: #E376FF;
}
.wall.wall-section div.panel-body {
    background-color: #F8DCFF;
}
.wall.wall-section .column.empty {
    background-color: #E376FF;
    border-style: solid;
    border-width: 3%;
    border-color: #F8DCFF;
}
.wall .column {
    min-height: 100px;
}
.wall .column .block {
    margin-right: auto;
    margin-left: auto;
}
.wall .column .block div.panel-heading {
    background-color: #F8F8F8 !important;
}
.wall .column .block div.panel-body {
    overflow: hidden;
    background-color: #FFF !important;
}
.wall .column .block div.panel-body img {
    max-width: 100%;
}

/*   eventually delete below here */

#studentArea div.panel-heading {
    background-color: #FFE376;
}
#studentArea div.panel-body {
    background-color: cornsilk;
}
#studentArea .dropdown {
    margin-left: 20px;
}
.shareAreaTitle {
    /*display: inline-block;
    text-align: center;*/
    margin-left: 20px;
}


#groupArea div.panel-heading {
    background-color: #76FFE3;
}
#groupArea div.panel-body {
    background-color: #DCFFF8;
    min-height: 125px;
}

#sectionArea div.panel-heading {
    background-color: #E376FF;
}
#sectionArea div.panel-body {
    background-color: #F8DCFF;
    min-height: 125px;
}

 #teacherArea {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: cornsilk;
    min-height: 125px;
}

.activityBlock {
    margin-right: auto;
    margin-left: auto;
}
.activityBlock div.panel-heading {
    background-color: #F8F8F8 !important;
}
.activityBlock div.panel-body {
    overflow: hidden;
    background-color: #FFF !important;
}
.activityBlock div.panel-body img {
    max-width: 100%;
}


